/* import google font == work sans */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&family=Work+Sans:wght@500;600&display=swap");

/* main code here */
/*............... header part .............. */
body {
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
header {
  width: 100%;
  height: 130px;
}
nav {
  padding: 0px 5%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 45px;
  align-items: center;
}
.icon img {
  width: 86px;
  height: 40px;
  margin-right: 20px;
}

.nav-follow {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 5px 10px;
  max-width: 262px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-follow a img {
  width: 24px;
}
.links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links ul li {
  cursor: pointer;
  color: #3c354f;
  margin-right: 1rem;
}
/* ........mobile header and tab header............ */
@media screen and (max-width: 576px) {
  .icon {
    height: 100px;
  }

  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .links ul {
    padding-left: 0px;
    flex-direction: column;
  }
  ul li:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* gallery section */
.gallery {
  margin: 0px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery-image,
.gallery-content {
  width: 50%;
}
.gallery-image img {
  width: 100%;
}

.gallery-content h3 {
  color: #0b0223;
  font-size: 48px;
  margin: 0px;
}

.gallery-content ul li:nth-child(1) {
  list-style-image: url("images/play-button-icon-png-18910.png");
  font-size: 20px;
}
.gallery-content ul li:nth-child(2) {
  list-style-image: url("images/Icon_Download-Install.png");
  font-size: 20px;
}
.gallery-content ul li:nth-child(3) {
  list-style-image: url("images/icon-users-29.jpg");
  font-size: 20px;
}

.gradient-text {
  background: linear-gradient(180deg, #f948b2, #8758f1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 85px;
  margin: 0px;
  font-weight: 800;
}

.sign-in {
  border-radius: 48px;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  border: none;
  padding: 21px 40px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
.go-rogue {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: #4ec5f7;
  border: none;
}

/* Online Games Funny Videos */
.online-games {
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.online-games h2 {
  font-size: 48px;
}
.games {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.games-img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 430px;
}
.games-img img {
  width: 100%;
}
.games-img p {
  max-width: 250px;
}
.video-img {
  position: relative;
}

.in-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* query */

@media screen and (min-width: 1200px) {
  .in-video {
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 992px) {
  .in-video {
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 576px) {
  .in-video {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.in-video img {
  width: 25px;
}
.in-video p {
  color: #f948b2;
  margin-top: 0px;
}

/* .........instantly play section.......... */
.play-instantly {
  position: relative;
  margin: 0px 5% 100px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.play-content {
  max-width: 30%;
  margin-right: 150px;
  text-align: right;
}
.play-content h2 {
  font-size: 40px;
}
@media screen and (max-width: 992px) {
  .play-content h2 {
    font-size: 28px;
  }
}
.play-img #main-image {
  width: 100%;
}
.play-img #sub-image {
  position: absolute;
  width: 28%;
  right: 36%;
  bottom: -80px;
}
/* .........career section........ */
.career {
  margin-top: 100px;
  padding: 0px 0px 0px 5%;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff42a5;
}

.career-des {
  width: 50%;
  font-size: 15px;
  padding: 40px 0px;
}
.career-des h2 {
  font-size: 40px;
}
.career-img {
  width: 50%;
}
.career-img img {
  height: 500px;
}

.career-names {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.careerli-two {
  text-align: right;
}
.career-names li {
  list-style: none;
}
.positions-btn {
  margin-top: 20px;
  color: #ff42a5;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  padding: 21px 40px;
}

/* <!-- more games section --> */
.more-games {
  margin: 100px 5%;
}
.more-games ul {
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.more-games ul div {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 567px) {
  .more-games {
    margin: 50px 5%;
  }
  .more-games ul {
    justify-content: space-between;
  }
}

/* footer section */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0b0223;
  gap: 50px;
  color: white;
  height: 636px;
}

.footer-header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 60px;
}
.footer-social {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.footer-terms {
  display: flex;
  justify-content: center;
  column-gap: 70px;
  list-style: none;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 0px 5%;
    gap: 50px;
  }
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
  }
  .footer-social {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .footer-terms {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 20px;
    list-style: none;
  }
  footer small {
    text-align: center;
  }
}
